.button-component {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: fit-content;
  height: 3rem;
  padding: 2rem;
  color: var(--letter-color);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.5rem;
  font-weight: bold;
}

.button-component:hover {
  background-color: var(--border-color);
  transition: 0.3s ease-in-out;
}
