.title-prod {
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--color-rich-black);
  font-weight: bold;
}

.size-prod {
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 2px;
  font-weight: bold;
  background-color: var(--color-shadow-blue);
  cursor: pointer;
}

.size-prod:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #748cab9b;
}

.quantity-prod {
  border: none;
  border-radius: 50%;
  font-size: 14px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--color-shadow-blue);
  cursor: pointer;
}

.quantity-prod:hover {
  background-color: #748cab9b;
}

.number-prod {
  font-size: 18px;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
}
