.space {
  width: 100%;
  height: 20px;
}

.cart__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-quantity {
  margin-top: 5px;
  margin-bottom: 10px;
}

.products__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.products__container li {
  padding: 5px;
}

.products__container p {
  padding-bottom: 5px;
}

.cart__return {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #1d2d44;
  padding: 16px;
  color: #f0ebd8;
  margin-bottom: 20px;
}

.cart__return .icon {
  font-size: 22px;
  margin-left: 10px;
}

.img-carrinho img {
  width: 100px;
}

.remove {
  background-color: var(--color-shadow-blue);
  padding: 12px;
  font-size: 12px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  opacity: 0.6;
}

.cart__total {
  color: #f0ebd8;
  cursor: pointer;
  padding: 30px;
  background-color: #1d2d44;
  display: flex;
  justify-content: center;
  font-weight: bold;
  gap: 20px;
}

.cart__total:hover {
  opacity: 0.9;
}

.layout-carrinho {
  padding-left: 20px;
  padding-right: 20px;
  grid-area: img;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-produtos);
  width: 100%;
}

.layout-carrinho div {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.layout-carrinho p {
  width: 150px;
}

.shop-line-1 {
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.products__itens {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.shop-line-2 {
  font-size: 12px;
  color: #3e5c76;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
}

#subtotal {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 25px;
  width: 100%;
  background-color: var(--bg-produtos);
  padding: 30px;
}

.cart__promotion-code {
  width: 100%;
  background-color: var(--bg-produtos);
  padding-bottom: 10px;
}

.cart__promotion-code p {
  font-weight: bold;
  margin: 20px 20px 5px;
}

.cart__promotion-code input::placeholder {
  font-size: 13px;
  color: var(--color-shadow-blue);
}

.cart__promotion-code input {
  border: 1px solid var(--bg-button);
  padding: 10px;
  background-color: var(--bg-produtos);
  color: #3e5c76;
  margin: 20px;
  border-radius: 5px;
}

.cart__promotion-code button {
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: var(--color-shadow-blue);
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  margin-left: 20px;
}

.cart__promotion-code button:hover {
  background-color: #748cabcc;
}

.remove:hover {
  background-color: #748cabcc;
}

@media screen and (max-width: 280px) {
  .products__container li {
    margin-right: -6px;
  }

  .products__container li:nth-child(2) {
    margin-right: -50px;
  }
}

